<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- <script src="https://cdn.jsdelivr.net/npm/preact@10.3.1/dist/preact.js.map"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/preact@10.3.1/hooks/dist/hooks.js.map"></script> -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/preact@10.3.1/dist/preact.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/preact@10.3.1/hooks/dist/hooks.umd.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <title>Ask ALBERT</title>
</head>
<body>
  <div id="app"></div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
